<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994440344170-jl3a45sggbdhctjgiml5g7cisqlglhrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994440344170-jl3a45sggbdhctjgiml5g7cisqlglhrh</string>
	<key>API_KEY</key>
	<string>AIzaSyBs-HCeZQVv0R7OwHoGi5Ru8cSxEUlrhOE</string>
	<key>GCM_SENDER_ID</key>
	<string>994440344170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithpharot.ios-firebase</string>
	<key>PROJECT_ID</key>
	<string>ios-firebase-b0826</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-firebase-b0826.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994440344170:ios:b61427290a451dc17b9013</string>
</dict>
</plist>